{{>frontend_header}}
<div id="food-menus-desktop">
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <table>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td class="half-width" style="padding: 1rem; width: 37%;">
                                    <table>
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="menu-rounded">
                                                        <h3>Appetizers</h3>
                                                        <p>Italian Individual 6" Pizza $6.99<br />
                                                            Fresh house made pizza dough with
                                                            Tomato sauce, mozzarella, provolone,
                                                            basil, and mushrooms
                                                            <br /><br />


                                                            Bruschetta $5.99<br />
                                                            Marinated tomatoes, shallots, garlic, and
                                                            basil with lemon aioli spread
                                                            on toasted italian bread
                                                            <br /><br />

                                                            Caprese Salad $6.99<br />
                                                            Mozzarella, tomato and basil drizzled
                                                            with balsamic reduction
                                                            and extra virgin olive oil
                                                            <br /><br />

                                                            Braciole Calabresi $7.99<br />
                                                            Braised pork filled with pecorino and
                                                            italian herbs served with classic tomato sauce</p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="menu-rounded">
                                                        <h3>Sides</h3>
                                                        <p>
                                                            Italian Style Sauteed Spinach $5.99<br />
                                                            Sauteed spinach, onions, garlic,
                                                            roma tomatoes, red pepper flakes,
                                                            italian seasonings, topped with
                                                            grated parmesan (crispy bacon optional)<br /><br />


                                                            ouse Made Pasta in Classic Tomato Sauce $5.99<br />
                                                            Tomato sauce simmered for hours with
                                                            garlic and fresh italian herbs<br /><br />


                                                            Italian Baked Zucchini $5.99<br />
                                                            Parmesan bread crumb topping to
                                                            add crunch to this dish<br /><br />


                                                            Italian Style Green Beans $5.99<br />
                                                            Steamed fresh green beans, grape tomatoes,
                                                            italian herbs, and parmesan<br /><br />

                                                            Roasted Cauliflower $5.99<br />
                                                            Drizzled with olive oil, garlic,
                                                            italian herb blend, and parmesan<br /><br />
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="half-width" style="padding: 1rem; width: 63%;">
                                    <table>
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="menu-rounded">
                                                        <h3>Salad</h3>
                                                        <p>
                                                            Italian Antipasto Salad $6.99 <br />
                                                            Romaine lettuce, roasted chicken strips, fusilli pasta,
                                                            provolone cheese strips,
                                                            green and black olives, grated asiago cheese<br /><br />


                                                            Italian Spinach and Eery Salad $6.99 <br />
                                                            Spinach, iceberg lettuce, arugula, strawberries,
                                                            blueberries,
                                                            mandarin oranges, and candied walnuts<br />
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="menu-rounded">
                                                        <h3>Entrees</h3>
                                                        <p>
                                                            GG's DAILY SPECIAL $7.99<br />
                                                            Spaghetti and Meatballs in Chunky Classic Tomato Sauce
                                                            with Italian bread and small salad<br /><br />


                                                            Italian Meatloaf with Classic TomatoSauce $8.99<br />
                                                            Baked local ground beef, ground pork, eggs, red peppers,
                                                            onions, bread crumbs, parmesan cheese, fresh basil, garlic
                                                            and Italian seasonings<br /><br />


                                                            Penne Pecorino $7.99<br />
                                                            Extra virgin olive oil, fresh garlic, Italian herbs over
                                                            fresh penne pasta
                                                            topped with pecorino cheese<br /><br />


                                                            Vegetable Lasagna $8.99<br />
                                                            Chunky classic tomato sauce (with or without meat). Baked
                                                            lasagna noodles,
                                                            spinach, zucchini, mozzarella, parmesan, ricotta, eggs,
                                                            Italian herbs topped with extra chunky marinara
                                                            sauce<br /><br />


                                                            Arancini (Italian Rice Croquettes-Meatless) $8.99<br />
                                                            Crispy risotto balls filled with parmesan, mozzarella
                                                            cheese, Italian herbs and
                                                            breadcrumbs with sun dried tomatoes and basil.
                                                            Served with delicious classic tomato sauce<br /><br />


                                                            Melanzane Involtino (Eggplant Roll) $10.99<br />
                                                            Cured ham slices and mozzarella slices are rolled up in
                                                            slightly fried eggplant
                                                            and baked with crumbled ricottas
                                                            Served with our house-made classic tomato sauce<br /><br />


                                                            Osso Bucco (braised veal shanks) $12.99<br />
                                                            Veal seared then braised low and slow until tender. Served
                                                            with braising liquid,
                                                            tomatoes, onions, carrots,
                                                            wine and gremolata (parsley, lemon zest and garlic) over
                                                            pasta<br /><br />


                                                            Polpette Di Pane (no-Meat Bread Balls) $8.99<br />
                                                            Served with pasta and choice of meat sauce or classic tomato
                                                            sauce<br /><br />
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td class="full-width" style="padding: 1rem;">
                                    <div class="menu-rounded">
                                        <h3>Lunch</h3>
                                        <p>
                                            Soup and Salad Combo<br />

                                            Bowl of our house made soup and house salad with choice of
                                            dressing<br /><br />




                                            Italian Wedding Soup $8.99<br />

                                            House-made lean ground beef meatballs combined with breadcrumbs, eggs,
                                            parmesan, fresh

                                            chopped basil simmered in chicken broth and spinach<br /><br />



                                            Italian Minestrone Soup $8.99<br />

                                            Fresh spinach, carrots, celery, tomatoes, green beans, northern beans,
                                            kidney beans, zucchini,

                                            fresh basil, bay leaves, parmesan and pasta simmered in vegetable
                                            stock<br /><br />



                                            Italian Fish Soup $8.99<br />

                                            Halibut chunks, fennel, onions, garlic, tomatoes, vegetable stock simmered
                                            with Italian herbs<br /><br />







                                            Half-Portion Entree and Salad Combo<br />

                                            Half portion of our dinner entrees and house salad with choice of
                                            dressing<br /><br />




                                            Italian Meatloaf with Classic Tomato Sauce $7.99<br />

                                            Baked local ground beef, ground pork, eggs, red peppers, onions, bread
                                            crumbs, parmesan

                                            cheese, fresh basil, garlic and Italian seasonings<br /><br />



                                            Penne Pecorino $6.99<br />

                                            Extra virgin olive oil, fresh garlic, Italian herbs over fresh penne pasta
                                            topped with pecorino

                                            cheese<br /><br />



                                            Vegetable Lasagna $7.99<br />

                                            Chunky classic tomato sauce (with or without meat). Baked lasagna noodles,
                                            spinach, zucchini,

                                            mozzarella, parmesan, ricotta, eggs, Italian herbs topped with extra chunky
                                            marinara sauce<br /><br />



                                            Rancini (Italian Rice Croquettes- Meatless) $8.99<br />

                                            Crispy risotto balls filled with parmesan, mozzarella cheese, Italian herbs
                                            and breadcrumbs with

                                            sun-dried tomatoes and basil. Served with delicious classic tomato
                                            sauce<br /><br />



                                            Melanzane Involtino (Eggplant Roll) $9.99<br />

                                            Cured ham slices and mozzarella slices are rolled up in slightly fried
                                            eggplant and baked with

                                            crumbled ricotta. Served with our house-made classic tomato sauce<br />



                                            Osso Bucco (braised veal shanks) $11.99<br />

                                            Veal seared then braised low and slow until tender. Served with braising
                                            liquid, tomatoes, onions,

                                            carrots, wine and gremolata (parsley, lemon zest and garlic) over
                                            pasta<br /><br />



                                            Polpette Di Pane (no-Meat Bread Balls) $7.99<br />

                                            Served with pasta and choice of meat sauce or classic tomato
                                            sauce<br /><br />
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>

            </tr>
            <tr>
                <td>
                    <table>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td class="third-width" style="padding: 1rem; ">
                                    <div class="menu-rounded">
                                        <h3>Deserts</h3>
                                        <p>
                                            Sicilian Cannoli (2) $3.99<br />

                                            Fried cannoli crispy shells filled with creamy

                                            mascarpone and ricotta cheese filling

                                            with mini chocolate chips<br /><br />



                                            Torta Caprese Slice $3.99<br />

                                            Chocolate cake dusted with powdered sugar<br /><br />



                                            Balsamic Zabaglione $3.99<br />
                                            Custard like dessert with fresh berries

                                            and vanilla whipped cream<br /><br />




                                            Italian Wedding Cookies $3.99<br />

                                            Baked drop cookies with sprinkles<br /><br />




                                            Call us to hear what daily

                                            bakery specials we have!
                                        </p>
                                    </div>
                                </td>
                                <td class="third-width" style="padding: 1rem; ">
                                    <div class="menu-rounded">
                                        <h3>Beverages</h3>
                                        <p>
                                            Coffee $2.99<br /><br />

                                            Cappuccino $2.99<br /><br />

                                            Caffe latte $2.99<br /><br />
                                            Green Tea $2.99<br /><br />
                                            Black Tea $2.99<br /><br />

                                            Herbal Cranberry Apple Tea $2.99<br /><br />
                                            English Tea Time Tea $2.99<br /><br />
                                            Fresh squeezed orange juice $2.99<br /><br />
                                            Molts apple juice $2.99<br /><br />

                                            Milk (whole or 2%) $2.99<br /><br />

                                            Chocolate milk or Almond milk $2.99<br /><br />
                                            Fountain Drinks $2.99<br /><br />
                                        </p>
                                    </div>
                                </td>
                                <td class="third-width" style="padding: 1rem; ">
                                    <div class="menu-rounded">
                                        <h3>Wine</h3>
                                        <p>
                                            <table style="margin: auto; width: 90%;">
                                                <thead></thead>
                                                <tbody>
                                                    <tr>
                                                        <th style="width: 50%;">Name</th>
                                                        <th style="width: 25%;">Glass</th>
                                                        <th style="width: 25%;">Bottle</th>
                                                    </tr>
                                                    <tr>
                                                        <th><br />Cabernets</th>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Rockbrook</td>
                                                        <td>5</td>
                                                        <td>20</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Francis</td>
                                                        <td>5</td>
                                                        <td>22</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cakebread</td>
                                                        <td>8</td>
                                                        <td>30</td>
                                                    </tr>
                                                    <tr>
                                                        <th><br />Pinot Noirs</th>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Carmel Road</td>
                                                        <td>5</td>
                                                        <td>20</td>
                                                    </tr>
                                                    <tr>
                                                        <td>La Crema</td>
                                                        <td>3</td>
                                                        <td>25</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Navarro</td>
                                                        <td>10</td>
                                                        <td>35</td>
                                                    </tr>
                                                    <tr>
                                                        <th><br />Red Blends</th>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Aldonza Pisces</td>
                                                        <td>5</td>
                                                        <td>20</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Penfolds Shiraz</td>
                                                        <td>5</td>
                                                        <td>22</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Saved Rose</td>
                                                        <td>9</td>
                                                        <td>32</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="food-menus-mobile">
    <div class="menu-rounded">
        <h3>Appetizers</h3>
        <p>Italian Individual 6" Pizza $6.99<br />
            Fresh house made pizza dough with
            Tomato sauce, mozzarella, provolone,
            basil, and mushrooms
            <br /><br />


            Bruschetta $5.99<br />
            Marinated tomatoes, shallots, garlic, and
            basil with lemon aioli spread
            on toasted italian bread
            <br /><br />

            Caprese Salad $6.99<br />
            Mozzarella, tomato and basil drizzled
            with balsamic reduction
            and extra virgin olive oil
            <br /><br />

            Braciole Calabresi $7.99<br />
            Braised pork filled with pecorino and
            italian herbs served with classic tomato sauce</p>
    </div>
    <div class="menu-rounded">
        <h3>Sides</h3>
        <p>
            Italian Style Sauteed Spinach $5.99<br />
            Sauteed spinach, onions, garlic,
            roma tomatoes, red pepper flakes,
            italian seasonings, topped with
            grated parmesan (crispy bacon optional)<br /><br />


            ouse Made Pasta in Classic Tomato Sauce $5.99<br />
            Tomato sauce simmered for hours with
            garlic and fresh italian herbs<br /><br />


            Italian Baked Zucchini $5.99<br />
            Parmesan bread crumb topping to
            add crunch to this dish<br /><br />


            Italian Style Green Beans $5.99<br />
            Steamed fresh green beans, grape tomatoes,
            italian herbs, and parmesan<br /><br />

            Roasted Cauliflower $5.99<br />
            Drizzled with olive oil, garlic,
            italian herb blend, and parmesan<br /><br />
        </p>
    </div>
    <div class="menu-rounded">
        <h3>Salad</h3>
        <p>
            Italian Antipasto Salad $6.99 <br />
            Romaine lettuce, roasted chicken strips, fusilli pasta,
            provolone cheese strips,
            green and black olives, grated asiago cheese<br /><br />


            Italian Spinach and Eery Salad $6.99 <br />
            Spinach, iceberg lettuce, arugula, strawberries,
            blueberries,
            mandarin oranges, and candied walnuts<br />
        </p>
    </div>
    <div class="menu-rounded">
        <h3>Entrees</h3>
        <p>
            GG's DAILY SPECIAL $7.99<br />
            Spaghetti and Meatballs in Chunky Classic Tomato Sauce
            with Italian bread and small salad<br /><br />


            Italian Meatloaf with Classic TomatoSauce $8.99<br />
            Baked local ground beef, ground pork, eggs, red peppers,
            onions, bread crumbs, parmesan cheese, fresh basil, garlic
            and Italian seasonings<br /><br />


            Penne Pecorino $7.99<br />
            Extra virgin olive oil, fresh garlic, Italian herbs over
            fresh penne pasta
            topped with pecorino cheese<br /><br />


            Vegetable Lasagna $8.99<br />
            Chunky classic tomato sauce (with or without meat). Baked
            lasagna noodles,
            spinach, zucchini, mozzarella, parmesan, ricotta, eggs,
            Italian herbs topped with extra chunky marinara
            sauce<br /><br />


            Arancini (Italian Rice Croquettes-Meatless) $8.99<br />
            Crispy risotto balls filled with parmesan, mozzarella
            cheese, Italian herbs and
            breadcrumbs with sun dried tomatoes and basil.
            Served with delicious classic tomato sauce<br /><br />


            Melanzane Involtino (Eggplant Roll) $10.99<br />
            Cured ham slices and mozzarella slices are rolled up in
            slightly fried eggplant
            and baked with crumbled ricottas
            Served with our house-made classic tomato sauce<br /><br />


            Osso Bucco (braised veal shanks) $12.99<br />
            Veal seared then braised low and slow until tender. Served
            with braising liquid,
            tomatoes, onions, carrots,
            wine and gremolata (parsley, lemon zest and garlic) over
            pasta<br /><br />


            Polpette Di Pane (no-Meat Bread Balls) $8.99<br />
            Served with pasta and choice of meat sauce or classic tomato
            sauce<br /><br />
        </p>
    </div>
    <div class="menu-rounded">
        <h3>Lunch</h3>
        <p>
            Soup and Salad Combo<br />

            Bowl of our house made soup and house salad with choice of
            dressing<br /><br />




            Italian Wedding Soup $8.99<br />

            House-made lean ground beef meatballs combined with breadcrumbs, eggs,
            parmesan, fresh

            chopped basil simmered in chicken broth and spinach<br /><br />



            Italian Minestrone Soup $8.99<br />

            Fresh spinach, carrots, celery, tomatoes, green beans, northern beans,
            kidney beans, zucchini,

            fresh basil, bay leaves, parmesan and pasta simmered in vegetable
            stock<br /><br />



            Italian Fish Soup $8.99<br />

            Halibut chunks, fennel, onions, garlic, tomatoes, vegetable stock simmered
            with Italian herbs<br /><br />







            Half-Portion Entree and Salad Combo<br />

            Half portion of our dinner entrees and house salad with choice of
            dressing<br /><br />




            Italian Meatloaf with Classic Tomato Sauce $7.99<br />

            Baked local ground beef, ground pork, eggs, red peppers, onions, bread
            crumbs, parmesan

            cheese, fresh basil, garlic and Italian seasonings<br /><br />



            Penne Pecorino $6.99<br />

            Extra virgin olive oil, fresh garlic, Italian herbs over fresh penne pasta
            topped with pecorino

            cheese<br /><br />



            Vegetable Lasagna $7.99<br />

            Chunky classic tomato sauce (with or without meat). Baked lasagna noodles,
            spinach, zucchini,

            mozzarella, parmesan, ricotta, eggs, Italian herbs topped with extra chunky
            marinara sauce<br /><br />



            Rancini (Italian Rice Croquettes- Meatless) $8.99<br />

            Crispy risotto balls filled with parmesan, mozzarella cheese, Italian herbs
            and breadcrumbs with

            sun-dried tomatoes and basil. Served with delicious classic tomato
            sauce<br /><br />



            Melanzane Involtino (Eggplant Roll) $9.99<br />

            Cured ham slices and mozzarella slices are rolled up in slightly fried
            eggplant and baked with

            crumbled ricotta. Served with our house-made classic tomato sauce<br />



            Osso Bucco (braised veal shanks) $11.99<br />

            Veal seared then braised low and slow until tender. Served with braising
            liquid, tomatoes, onions,

            carrots, wine and gremolata (parsley, lemon zest and garlic) over
            pasta<br /><br />



            Polpette Di Pane (no-Meat Bread Balls) $7.99<br />

            Served with pasta and choice of meat sauce or classic tomato
            sauce<br /><br />
        </p>
    </div>
    <div class="menu-rounded">
        <h3>Deserts</h3>
        <p>
            Sicilian Cannoli (2) $3.99<br />

            Fried cannoli crispy shells filled with creamy

            mascarpone and ricotta cheese filling

            with mini chocolate chips<br /><br />



            Torta Caprese Slice $3.99<br />

            Chocolate cake dusted with powdered sugar<br /><br />



            Balsamic Zabaglione $3.99<br />
            Custard like dessert with fresh berries

            and vanilla whipped cream<br /><br />




            Italian Wedding Cookies $3.99<br />

            Baked drop cookies with sprinkles<br /><br />




            Call us to hear what daily

            bakery specials we have!
        </p>
    </div>
    <div class="menu-rounded">
        <h3>Beverages</h3>
        <p>
            Coffee $2.99<br /><br />

            Cappuccino $2.99<br /><br />

            Caffe latte $2.99<br /><br />
            Green Tea $2.99<br /><br />
            Black Tea $2.99<br /><br />

            Herbal Cranberry Apple Tea $2.99<br /><br />
            English Tea Time Tea $2.99<br /><br />
            Fresh squeezed orange juice $2.99<br /><br />
            Molts apple juice $2.99<br /><br />

            Milk (whole or 2%) $2.99<br /><br />

            Chocolate milk or Almond milk $2.99<br /><br />
            Fountain Drinks $2.99<br /><br />
        </p>
    </div>
    <div class="menu-rounded">
        <h3>Wine</h3>
        <p>
            <table style="margin: auto; width: 90%;">
                <thead></thead>
                <tbody>
                    <tr>
                        <th style="width: 33.3%;">Name</th>
                        <th style="width: 33.3%;">Glass</th>
                        <th style="width: 33.3%;">Bottle</th>
                    </tr>
                    <tr>
                        <th><br />Cabernets</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Rockbrook</td>
                        <td>5</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Francis</td>
                        <td>5</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>Cakebread</td>
                        <td>8</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <th><br />Pinot Noirs</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Carmel Road</td>
                        <td>5</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>La Crema</td>
                        <td>3</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Navarro</td>
                        <td>10</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th><br />Red Blends</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Aldonza Pisces</td>
                        <td>5</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Penfolds Shiraz</td>
                        <td>5</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>Saved Rose</td>
                        <td>9</td>
                        <td>32</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>
{{>frontend_footer}}