<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Capstone264Hotel</title>
    <link href="../assets/css/reset.css" rel="stylesheet" />
    <link href="../assets/css/baseLayout.css" rel="stylesheet" />
</head>

<body>
    <div id="main">
        <div id="pagelinks">
            <nav>
                <ul>
                    <li>
                        <p><b>Inventory</b></p>
                    </li>
                    <li><a href='/backend/backendinventoryadd'>Add Item to Inventory</a></li>
                    <li><a href='/backend/backendinventoryedit'>Edit Inventory</a></li>
                    <li><a href='/backend/backendinventoryremove'>Remove Item from Inventory</a></li>
                    <li><a href='/backend/backendinventorystock'>Inventory Stock</a></li>
                    <li><a href='/backend/backendinventorysearch'>Search Inventory</a></li>
                    <li>
                        <p><b>Menu</b></p>
                    </li>
                    <li><a href='/backend/backendmenuadd'>New Menu Item</a></li>
                    <li><a href='/backend/backendmenuedit'>Edit Menu Item</a></li>
                    <li><a href='/backend/backendmenuremove'>Remove Item from Menu</a></li>
                    <li><a href='/backend/backendmenuview'>View Current Menu</a></li>
                    <li><a href='/backend/backendmenusearch'>Search Menu Items</a></li>
                    <li>
                        <p><b>Orders</b></p>
                    </li>
                    <li><a href='/backend/backendordersadd'>New Order</a></li>
                    <li><a href='/backend/backendordersedit'>Edit Order</a></li>
                    <li><a href='/backend/backendordersremove'>Remove Order</a></li>
                    <li><a href='/backend/backendordersopen'>Open Orders</a></li>
                    <li><a href='/backend/backendordersclosed'>Past Orders</a></li>
                    <li><a href='/backend/backendorderssearch'>Search Orders</a></li>
                    <li>
                        <p><b>Locations</b></p>
                    </li>
                    <li><a href='/backend/backendlocationsadd'>Add Location</a></li>
                    <li><a href='/backend/backendlocationsedit'>Edit Location</a></li>
                    <li><a href='/backend/backendlocationsremove'>Remove Location</a></li>
                    <li><a href='/backend/backendlocationssearch'>Search Locations</a></li>
                    <li>
                        <p><b>Users</b></p>
                    </li>
                    <li><a href='/backend/backendusersadd'>Add User</a></li>
                    <li><a href='/backend/backendusersedit'>Edit User</a></li>
                    <li><a href='/backend/backendusersremove'>Remove User</a></li>
                    <li><a href='/backend/backenduserssearch'>Search Users</a></li>
                    <li>
                        <p><b>Other</b></p>
                    </li>
                    <li><a href='/backend/backendhome'>Home</a></li>
                    <li><a href='/backend/backendupdateschedule'>Schedule</a></li>
                    <li><a href='/backend/backendlogout'>Logout</a></li>
                </ul>
            </nav>
        </div>
        <main>
            <img id='backendLogo' src="../../assets/images/misc/GGLogo-12.png" alt="Image of GG Logo" />
            <header>
                <p>{{header_content}}</p>
            </header>