<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1" name="viewport">
    <title>Capstone264Hotel</title>
    <link href="../assets/css/reset.css" rel="stylesheet" />
    <link href="../assets/css/frontLayout.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.1.5/index.min.js"></script>
</head>

<body>
    <div id="main">
        <div id="non-footer">
            <div id="header-div">
                <header>
                    <div id="header-rounded">
                        <table>
                            <td><a href="/">About Us</a></td>
                            <td><img src="../../assets/images/misc/GGLogo-12.png" alt="logo" /></td>
                            <td><a href="/menu">Our Menu</a></td>
                        </table>
                    </div>
                    <h3>{{header_content}}</h3>
                </header>
            </div>
        
        